.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") InfoSeq
      .nav-collapse.collapse
        ul.nav
          li
            a(href="/") home
      block userbox
        ul#user_box(class="nav pull-right")