.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") InfoSeq
      .nav-collapse.collapse
        ul.nav
          li
            a(href="/") home
      block userbox
        ul(class="nav pull-right")
          li(class="dropdown")
            a(href="#",data-toggle="dropdown",class="dropdown-toggle") Log in
            #user_box.dropdown-menu