extends layout
block content
  script#signup-template(type='text/template').
    <form id="submit_form" class='form-horizontal',method='post'>
      <div class="signup-label span5 msg-success hide label label-success">Signed up!</div>
      <div class="signup-label span5 error-bad-auth hide label label-warning">Username and/or password incorrect.</div>
      <div class="signup-label span5 error-unknown hide label label-warning"><%- stateDetails %></div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="email" id="inputEmail" name="user[email]" placeholder="Email" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" id="inputPassword" name="user[pass]" placeholder="Password" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword1">Confirm Password</label>
        <div class="controls">
          <input type="password" id="inputPassword1" name="user[pass1]" placeholder="Confirm Password" required>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <!--
            <label class="checkbox">
            <input type="checkbox"> Remember me
            </label>
          -->
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
    </form>
  script#logged-in-template(type='text/template').
    <p class="navbar-text">Welcome, <%= name%>&nbsp;
      <a id="logout" class="btn" href="/logout">Logout</a>
    </p>
  script#login-template(type="text/template").
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%- action_name %></a>
    <div class='dropdown-menu'>
      <div class="login-label span5 msg-success hide label label-success">You are now logged in.</div>
      <div class="login-label span5 error-bad-auth hide label label-warning">Username and/or password incorrect.</div>
      <div class="login-label span5 error-unknown hide label label-warning"><%- stateDetails %></div>
      <br class="span6">
      <p id="user-hail" class="navbar-text hide">Welcome!&nbsp;
        <a id="logout" class="btn" href="/logout">Logout</a>
      </p>
      <form id="login" action="#" method="post">
        <h1>Login</h1>
        <input name="email" type="text" value="<%- email %>">
        <input name="password" type="password" value="<%- password %>">
        <input type="submit" value="Log In">
      </form>
    </div>

  script(type="text/template",id="group-modal-template").
    <a href="#createGroupModal" role="button" class="btn" data-toggle="modal">Add Group</a>
    <div id="createGroupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="formModalLabel">Create new group</h3>
      </div>
      <div id="group-modal-form" class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="group-add-modal" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save changes</button>
      </div>
    </div>
  script(type="text/template",id="bookmark-modal-template").
    <a href="#createBookmarkModal-<%= group_id %>" role="button" class="btn" data-toggle="modal">Add Bookmark</a>
    <div id="createBookmarkModal-<%= group_id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="formModalLabel">Create new Bookmark</h3>
      </div>
      <div id="bookmark-modal-form-<%= group_id %>" class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="bookmark-add-modal" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save Bookmark</button>
      </div>
    </div>

  script(type="text/template",id="bookmark-layout-template").
    <div id="bookmark-add-modal"></div>
    <div id="bookmark-list"></div>
  script(type="text/template",id="bookmark-template").
    <div class="row">
      <div class="span1"></div>
      <a class="span6" href="<%= url %>"><%= url %></a>
      <span class='btn btn-small btn-danger bookmark__delete'>delete</span>
    </div>

  script(type="text/template",id="group-info-template").
    <a class="span4 accordion-toggle collapsed" data-toggle="collapse" data-parent="#groupList" href="#group<%= _id %>"><%= name %></a>
    <span id="group_remove" class="offset2 btn btn-small btn-danger">Remove Group</span>

  script(type="text/template",id="groups-layout-template").
    <br>
    <div id="group-info-view" class="accordion-heading row"></div>
    <div id="group<%= _id %>" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p><%= description %>
        <ul id="group-bookmarks" class="unstyled"></ul>
      </div>
    </div>
  .container
    //-
      div.row
      h1= title
      p Welcome to #{title}
    #login_region
    #add_group
    #group_layout